/*o root é uma forma de criar variaeis que podem ser usada por toda a aplicação*/

:root{
    --primary-color: rgb(102, 97, 102);
    --secondary-color: #282c34;
    --back-color: #b4ebf8;
}
/*exxxxxxxxxxxxxx**/
body {
    background-color: var(--secondary-color);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* deixando a coluna como um flex box */
  .row {
    display: flex;
    float: left;
    border-bottom: 100%;
  }
  .left {
    flex: 35%;
    padding: 15px 0;
    background-color: rgb(69, 86, 88);
    border-bottom: 100%;
    margin-right: 10px;
  }
  /*distancia do menu*/
  .left h2 {
    padding-left: 10px;
    color: rgb(50, 208, 248);
  } 
  .right {
    flex: 65%;
    padding: 15px;
  }
 

ul{
    /*o navegador já tem algumas formatações por padrão, então algumas definições 
    globais que sobescreve a formatação do navegador é necessaria, pra funcionar corretamente*/
    padding: 0px!important;  /* o important sobescreve o navegador*/
}

a{
    text-decoration: none;
    color: #6facbb;
    
}



/*estilização do menu de principal*/

.menu-principal{
    width: 100%; /*definindo o espaço de da ocupação da largura do menu*/
    height: 55px; /*definindo a altutura da barra preta do background*/
    background-color: var(--primary-color);
   
}

.logo{
    padding: 8px;
    width: 30%;
    margin-top: 3px;
    float: left; /*isso faz com que mude a direção dos parametros pleftleftara a esquerda*/
}

.redes-sociais ul li{
    display: inline-block; /*isso tira as linhas de marcação padrões do html pro ul e li*/
    margin-left: 15px;
    list-style: none;
    float: left;
    
}

.redes-sociais{
    width: 25%; /* é necessario pois sem a largura ideal fica um a baixo do outro*/
    float: right;
    
    
}

/* FORMATAÇÃO DA HEADER DE BAIXO*/

.menu-separadores{
    margin: 0 auto;
    height: 10px; /*autura do menu, influencia diretamente na borda*/
    padding: 1px;
    margin-bottom: 100%;
}

.menu ul li{
    display: inline-block;
    margin-left: 2%;
    transition: 400ms;

}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 100%;
}

.menu li a{
    padding: 12px;
    text-decoration: none;
    color: white;
    display: block;
}
.menu li a:hover{
    background-color: bisque;
}

/*formatando o pesquisador do menu*/
#busca{
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    
}

/*TEXTO DA PAGINA PRINCIPAL*/

.text-body{
    padding: 1px;
    text-align: justify;
    color: white;
    background-color: rgba(255, 255, 255, 0.562);
    margin-bottom: 9px;
    border-radius: 60px 2px;
}
.text-body h1{
    background-color: crimson;
    text-align: center;
    border-radius: 30px 7px;
    font-size: 25px;
}
.text-body h2{
    font-size: 20px;
}

.text-baixo{
    color: azure;
    font-family: 'Times New Roman';
    font-size: 20px ;
}
.text-baixo button{
    
    background-color: crimson;
    font-size: 20px;
    font-family: Arial;
}

a{
    text-decoration: none;
}

.banner{
    margin-top: 20px;
    padding: 2px;
    background-color: rgb(6, 177, 230);
    width: 1010px;
}

/*ESTILIZAÇÃO DA PAGINA DE PRODUTOS*/
#box-principal{
    background-color: rgb(90, 89, 90);
    display: flex;
    width: 100%;
    float: left;
    height: 110px;
    padding: 100 px;
    justify-content: center;
    margin-bottom: 20px;
}
#box-principal button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial;
    padding: 20px;
    color: white;
    border-color: purple;
    border-radius: 20px 9px;
    background-color: rgba(131, 128, 128, 0.829);
    transition: 400ms;
}

#box-principal button:hover{
    background-color: bisque;
    padding: 25px;
    margin-bottom: 15px;

    font-size: 100%;
}
#genericos{
    color: aliceblue;
}
#normais{
    color: aliceblue;
}
#higiene{
    color: aliceblue;
}
#covid-itens{
    color: aliceblue;
}

#consultas{
    color: aliceblue;

}

.botao_boxs {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  


/** TABELAS DOS PRODUTOS ***/

body  td, body th{
    border: 1px solid #ddd;
    padding: 8px;
}
th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
