:root{
    --primary: rgb(102, 97, 102);
    --secondary: #282c34;
}

body {
    height: 100vh;
    margin: 0px;

    /*Declaração do tipo de formatação grid, flex, inline*/
    /*esse exemplo do grid define linhas na tela onde vai ser trabalhada a formatação*/
    display: grid;

    /*Definição da quantidade de linhas e a definição de como elas serão apresentadas na tela
                       l1   l2   l3  -> essa é adefinição da apresentação da quantidade de linhas na tela*/     
    grid-template-rows: 60px 1fr;/*o px define um tamanho fixo, o fr é um fragmento*/
    /*dessa forma o fr irá ocupar todo o resto que sobrar da tela*/
    grid-template-columns: 1fr 8fr;
   


}
 a{
    text-decoration: none;   
}
.cabecalho{
    background-color: var(--secondary);
     /*Mas pode mudar a forma de visualização do flex-direction... como column*/
    display: flex;
    flex-direction: row; /*MUDANDO A DIREÇÃO DOS COMPONENTS para linha*/
    justify-content: space-between; /*MANIPULANDO A APRESENTAÇÃO DOS COMPONENTES NA TELA*/
    z-index: 1; /*Coloca o cabeçalho a cima dos outros recursos*/
    height: 60px;
    /*Isso está delimitando a área de atuação na grid*/
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
   
}

.cabecalho .logo, .redes-sociais{
     margin: 10px;
}

.menu-principal{
    background-color: var(--primary);
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    
}
.menu-principal a{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center; 
    font-weight: 500;
    font-size: 30px;
    color: white;
    transition: 400ms;

}
.menu-principal a:hover {
    background-color: black;
}
.conteudo{
    background-color: #f0f0f0f0; 
    grid-column-start: 2;
    grid-column-end: 3;
    /*Serve para se ficar maior que o tamanho permitido ele coloca um scroll do lado*/
    padding: 18px;
    z-index: 1;
    margin-top: 0px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);

}

.conteudo .dados-iniciais h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
  border-radius: 10px 20px;
  color: white;
  margin-left: 30px;

}
main {
    max-width: 1150px;
}
main .slide{
    margin-bottom: 80px;
    border-bottom: 2px solid black;
}
main .slide .slide-principal > img{
    width: 800px;
    margin: 0 auto;
    
    
}

main .produtos{
    display: flex;
    margin: 5px;
    padding: 2px;
    overflow-x: scroll;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 50px;
    background-color: crimson;
}


main .produtos > .pro > img{
   
    border-bottom: 2px solid black;
    margin-bottom: 2px;
}

main .produtos > .pro {
    background-color: white;
    margin: 30px 30px 30px;
    padding: 30px 30px 30px;
    border: 2px solid black;
    border-radius: 20px;
}

main .produtos > .pro > p{
    text-align: justify;
}
main .produtos > .pro > p > a{
    background-color: rgb(216, 122, 122);
    color: aliceblue;
    padding: 2px;
    border-radius: 15px;
}
.apresentacao-slide .slide-show > img{
    padding: 28px;
    margin-left: 4%;
}
.apresentacao-slide{
    margin-bottom: 100px;
}
.buttons button{
    background-color: crimson;
    padding: 9px;
    border: 1px solid;
    border-radius: 20px 12px;
    color: white;
    font-size: 20px;
}

.buttons .buttons-select button{
    margin-left: 20%;
    margin-right: 20%;
   
  
}

.buttons2 > button{
    background-color: crimson;
    padding: 9px;
    border: 1px solid;
    border-radius: 20px 12px;
    color: white;
    font-size: 20px;
}

.buttons2{
    margin-left: 42%;
}


.titulo-produtos {
    background-color: crimson;
    padding: 1px;
    margin: 1px;
    text-align: center;
    font-size: 18px;
    border-radius: 220px 200px;
    border: 1px solid black;
}