body {

    height: 100vh;
    margin: 0px;

    /*Declaração do tipo de formatação grid, flex, inline*/
    /*esse exemplo do grid define linhas na tela onde vai ser trabalhada a formatação*/
    display: grid;

    /*Definição da quantidade de linhas e a definição de como elas serão apresentadas na tela
                       l1   l2   l3  -> essa é adefinição da apresentação da quantidade de linhas na tela*/     
    grid-template-rows: 90px 1fr 60px;/*o px define um tamanho fixo, o fr é um fragmento*/
    /*dessa forma o fr irá ocupar todo o resto que sobrar da tela*/
    grid-template-columns: 1fr;
    /*Definição das áreas por linha*/
    grid-template-areas: 
    "cabecalho" /*O cabeçalho vai ocupar a primeira linha*/ /* como só tem uma coluna ele é colocado dessa forma*/
    "principal" /*O principal vai ocupar a segunda linha*/
    "rodape" ; /*O rodape vai ocupar a terceira linha*/


}

.cabecalho h1, h2{
    margin: 1%;
    font-family: 'Metal Mania', cursive;
    font-size: 40px;
    font-weight: 100;
    padding-top: 1px;
}
.cabecalho{

    
    grid-area: cabecalho; /*pegando o local de armazenamento do cabecalho*/
    background-color: #282c34;
    color: white;
    /*O (display flex) por padão coloca tudo em só uma linha, chamada de flex direction*/
    /*Mas pode mudar a forma de visualização do flex-direction... como column*/
    display: flex;
    flex-direction: row; /*MUDANDO A DIREÇÃO DOS COMPONENTS*/
    justify-content: center; /*MANIPULANDO A APRESENTAÇÃO DOS COMPONENTES NA TELA*/
    z-index: 1; /*Coloca o cabeçalho a cima dos outros recursos*/

    /*Box shadow*/
    box-shadow: 0px 6px 14px 1px rgba(7,5,43,1);

}

.cabecalho > a {
    text-decoration: none;
    border: #fff;
    padding: 21px;
    margin: 13px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    border-radius: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;

   
}
.cabecalho > a:hover{
    background-color: rgb(31, 30, 30);
}
.principal{
    grid-area: principal;
    /*uma forma de obter precisão e um não entrar no outro*/
    height: calc(100vh - 180px);
    background-color: #f0f0f0f0;
    padding: 20px;
}

.conteudo{
    position: relative;
    height: 100%;
    overflow-y: scroll; /*Serve para se ficar maior que o tamanho permitido ele coloca um scroll do lado*/

    /*mas tem como tornar a pag mais dinamica tirando a limitação de autura do principal:height: calc(100vh - 180px);
    e deixando gerar automaticamente.
    Mas pra isso acontecer tem que meixer no rodape colocando ele com position: sticky; e bottom: 0px;

        */
    background-color: #fff;
    padding: 6px;

    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.conteudo ul, li{
    padding: 10px;
    margin: 10px;
    background-color: #282c34;
    color: #fff;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    background-color: #282c34;
    margin-bottom: 0px;

}
.rodape > p{
    font-weight: 400;
    font-size: 29px;
    margin-right: 10px;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

